.button{

    border: none;
    outline: none;
    padding-inline: 1.5rem;
    padding-block: 0.75rem;
    border-radius: 1rem;
    cursor: pointer;

    transition: all 0.3s ease-in-out;

    &.primary-button{
        background-color: #e1034d;
        color: white;
    }

    &.secondary-button{
        background-color: transparent;
        border: 1px solid #e1034d;
        color: #e1034d;
    }

    &.danger-button{
        background-color: rgba(225, 16, 77, 0.12);
        color: #ff6b9d;
        border: 1px solid rgba(225, 16, 77, 0.35);
    }

    &:active{
        transform: scale(0.9);
    }
}